#burger-menu {
  position: relative;
  padding-top: 7px;
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #ffff;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 7px;
  position: relative;
  transition: all ease-in-out 0.2s;
}

#burger-menu.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger-menu.open span:nth-child(3) {
  transform: rotate(45deg);
  top: -12px;
}

#burger-menu.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 12px;
}